<h1>Listing beliefs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beliefs.each do |belief| %>
  <tr>
    <td><%= belief.title %></td>
    <td><%= belief.description %></td>
    <td><%= link_to 'Show', belief %></td>
    <td><%= link_to 'Edit', edit_belief_path(belief) %></td>
    <td><%= link_to 'Destroy', belief, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Belief', new_belief_path %>
